.blform {
    display: none;
}


.container {
    max-width: 1200px;
    margin: 30px auto;
    background: #f1f1f1;
    padding: 30px;
}



button {
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .9rem;
}

button:hover {
    background: rgba(13, 27, 223, 0.616);
}

button:active {
    background: #000;
    color: #fff;
}


.slider {
    border: 2px solid black;
    width: 256px;
    height: 256px;
    margin: 20px auto;
    overflow: hidden;
}

.sliderLine {
    width: 256px;
    height: 256px;
    display: flex;
    background: orange;
    position: relative;
    left: 0;
    transition: all ease 0.5s;
}

.imgs1{
    width: 256px; 
    height: 256px;
}
.imgs2{
    width: 256px; 
    height: 256px;
}
.imgs3{
    width: 256px; 
    height: 256px;
}
.imgs4{
    width: 256px; 
    height: 256px;
}

#inf1 {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#inf2 {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#inf3 {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#inf4 {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#okno {
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #0000cc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}

#inf1:target {display: block;}
#inf2:target {display: block;}
#inf3:target {display: block;}
#inf4:target {display: block;}

.close {
    display: inline-block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
}
.close:hover {background: #e6e6ff;}